
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

.pad {
  height: 50vh;
  width: 33.2vw;
  text-align: center;
  vertical-align: middle;
  line-height: 50vh;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;


  div {
    font-size: 3em;
    font-weight: 300;
    display: block;

    -webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  small {
    display: block;
    font-size: 1em;
    font-weight: 100;
    position: absolute;
    line-height: 1em;
    top: .5em;
    left: .5em;
    color: #aaa;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
