.pad {
  width: 25vw;
  height: 45vh;
  position: relative;
  float: left;
  background-color: #fafafa;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 500px) {
  .pad {
    width: 50vw;
    height: 21vh;
  }
}
.pad div {
  font-size: 2em;
  font-weight: 200;
  display: block;
  position: relative;
  top: 50%;
  letter-spacing: 1px;
  padding: .5em;
  word-break: break-all;
  -webkit-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 700px) {
  .pad div {
    font-size: 1.15em;
  }
}
.pad small {
  display: block;
  font-size: 1em;
  font-weight: 100;
  position: absolute;
  line-height: 1em;
  top: .5em;
  left: .5em;
  color: #aaa;
}
@media screen and (max-width: 700px) {
  .pad small {
    display: none;
  }
}

.pad:nth-child(1) {
  background-color: #fcfcfc;
}

.pad:nth-child(2) {
  background-color: #fafafa;
}

.pad:nth-child(3) {
  background-color: #f8f8f8;
}

.pad:nth-child(4) {
  background-color: #f6f6f6;
}

.pad:nth-child(5) {
  background-color: #fbfbfb;
}

.pad:nth-child(6) {
  background-color: #f9f9f9;
}

.pad:nth-child(7) {
  background-color: #f7f7f7;
}

.pad:nth-child(8) {
  background-color: #f5f5f5;
}

@media screen and (max-width: 500px) {
  body .pad:nth-child(1) {
    background-color: #fcfcfc;
  }

  body .pad:nth-child(2) {
    background-color: #fafafa;
  }

  body .pad:nth-child(3) {
    background-color: #fafafa;
  }

  body .pad:nth-child(4) {
    background-color: #f8f8f8;
  }

  body .pad:nth-child(5) {
    background-color: #f8f8f8;
  }

  body .pad:nth-child(6) {
    background-color: #f6f6f6;
  }

  body .pad:nth-child(7) {
    background-color: #f6f6f6;
  }

  body .pad:nth-child(8) {
    background-color: #f4f4f4;
  }
}
footer {
  display: block;
  width: 100%;
  height: 10.09vh;
  line-height: 10vh;
  float: left;
  vertical-align: middle;
  background-color: #ddd;
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
footer h1, footer a {
  display: inline-block;
  float: left;
}
footer h1 {
  font-size: 1em;
  margin: 0 0 0 1em;
  font-weight: 900;
  vertical-align: middle;
  padding: 0 .5em 0 1em;
}
@media screen and (max-width: 700px) {
  footer h1 {
    margin-left: 0;
  }
}
footer a {
  color: #333;
  padding: 0 .5em;
}
footer a span {
  color: red;
}
footer a:visited {
  color: inherit;
}
footer a.play {
  display: none;
}
footer a.play.active {
  display: inline-block;
}
footer .que {
  float: right;
  display: block;
  margin-right: 1em;
}
@media screen and (max-width: 700px) {
  footer .que {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  footer {
    text-align: center;
  }
}

#about {
  display: none;
  height: 100vh;
  width: 100vw;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
}
#about.active {
  display: block;
}
#about h2 {
  padding: 0 1em;
  font-size: 3em;
}
#about p {
  padding: 0 2em;
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  #about h2 {
    font-size: 2em;
    padding: 0 .5em;
  }
  #about p {
    padding: 0 .75em;
    font-size: 1.5em;
  }
}

body {
  background: #fafafa;
  font-family: 'Roboto Mono', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
